body {
  background-color: #bdc3c7;
}
.mainContainer {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}
.mainContainer form {
  margin-bottom: 15px;
  background: #decba4;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: bold;
}
